* {
    margin: 0;
    padding: 0;
}
body{
    margin-left: 10px;
}
h1{
    color:red;
    text-align: center;
    padding-bottom: 10px;
}
table{
    width: 100%;
    margin-right: 10px;
}
table, th, td{
    border: 1px solid black;
}
p{
    padding-top: 10px;
    padding-bottom: 10px;
}
image{
    margin-left: 0;
}